/* Tooltips */
QToolTip { 
    color: #d2ded7; 
    background-color: #3b4a43;
    border: 1px solid #3b4a43;
}

/* Sidebar & Action Dock Background */
#instanceDetailPage,
#pageContainer,
QDockWidget > QWidget,
QToolBar {
    background-color: #222a26;
}

/* Button areas inside the sidebar panel */
#actionButtonFrame,
#instancePageDock {
    background-color: #222a26;
    border-left: 1px solid #3b4a43;
}
